// footer {
//   background-color: rgb(221, 226, 221);  
//   width: 100%;
//   position: fixed;
//   bottom: 0;
//   height: 10%;
//   margin: 0;
//   padding-bottom: 0;
//   padding-top: 0;
// }

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
   
}