<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Matriz de Ensaios por Área</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        
        <mdb-card>
          <!--Card image-->
          <img src="assets/img/avatar_g.jpg">
          <!--Card content-->
         
        </mdb-card>
    
      
      </th>

      <td>Lab 1</td>
      <td>Lab 2</td>
      <td>Lab 3</td>
    </tr>
    <tr>
      <th scope="row">Cor</th>
      <td>X</td>
      <td>X</td>
      <td>X</td>
    </tr>
    <tr>
      <th scope="row">Viscosidade</th>
      <td>X</td>
      <td>X</td>
      <td>X</td>
    </tr>
  </tbody>
</table>
</div>
