<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Matriz de Ensaios por Área</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <!-- <img src="assets/img/avatar_g.jpg"> -->
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="assets/img/farmaceutica 2.jpg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">Área Farmacêutica/ Fisioterápicos</h6>
              
            </div>
           
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/oleo 2.jpg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">Controle de Qualidade de Óleo e Gorduras Vegetais</h6>
             
            </div>
           
          </div>
        </div>
      </th>

      <td>Lab 1</td>
      <td>Lab 2</td>
      <td>Lab 3</td>
    </tr>
    <tr>
      <th scope="row">Cor</th>
      <td>X</td>
      <td>X</td>
      <td>X</td>
    </tr>
    <tr>
      <th scope="row">Viscosidade</th>
      <td>X</td>
      <td>X</td>
      <td>X</td>
    </tr>
  </tbody>
</table>
</div>
