<main>

  <!--Main layout-->
  <div class="container">
      <div class="row">

          <!--Main column-->
          <div class="col-lg-8">

              <!--Post-->
              <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
                  <!--Post data-->
                  <h1 class="h1-responsive dark-grey-text font-bold">CVACBA
                      <small class="text-muted"></small>
                  </h1>
                  <h4>Centro de Valorização de Compostos Bioativos da Amazônia</h4>

                  <br>

                  <!--Featured image -->
                  <div class="view overlay hm-white-light z-depth-1-half rounded">
                      <img src="assets/img/CVACBA.jpeg" class="img-fluid" alt="">
                      <div class="mask">
                      </div>
                  </div>

                  <br>

                  <!--Post excerpt-->
                  <strong>Descrição:</strong>
                  <p>O CVACBA é um laboratório de 800 m² de um grupo de pesquisa da UFPA (Belém). 
                    Este grupo de investigação tem mais de 20 anos de experiência e está se tornando 
                    a referência da Amazônia para bioprospecção de espécies com potencial biotecnológico.</p>

                    <strong>Ensaios Oferecidos:</strong>
                    <ul class="list-group">
                        <li class="list-group-item">Determinação de composção quimica e nutricional</li>
                        <li class="list-group-item">Determinação da atividade e quantificação de antioxidantes</li>
                        <li class="list-group-item">Análises por Cromatografia Líquida (HPLC/UPLC)</li>
                        <li class="list-group-item">Análises Microbiológicas</li>
                        <li class="list-group-item">Formulação e Padronização de Produtos</li>
                      </ul>


              </div>
              <!--/.Post-->

              <hr class="mt-5">

              <!--Post-->
              <div class="post-wrapper wow fadeIn" data-wow-delay="0.4s">
                 
                  <!--Post excerpt-->
                  <section id="contact">
                    <div class="rgba-grey-strong py-5">
                      <div class="container">
                        <div class="wow fadeIn">
                          <h4 class="h1 text-black pt-5 pb-3 text-center">Entre em contato conosco</h4>
                        </div>
                        <div class="card mb-5 wow fadeInUp" data-wow-delay=".4s">
                          <div class="card-body p-5">
                            <div class="row">
                              <div class="col-md-8">
                                  <ul class="list-unstyled text-center">
                                      <li class="mt-4"><i class="fa fa-map-marker indigo-text fa-2x"></i>
                                        <p class="mt-2">PCT-Guamá - Prédio Espaço Inovação, 2 Andar, Unidade 13/14.
                                            Avenida Perimetral da Ciência, Km 01. CEP: 66075750
                                        </p>
                                      </li>
                                      <li class="mt-4"><i class="fa fa-phone indigo-text fa-2x"></i>
                                        <p class="mt-2">(91) 3201-7456</p>
                                      </li>
                                      <li class="mt-4"><i class="fa fa-envelope indigo-text fa-2x"></i>
                                        <p class="mt-2">cvacba@gmail.com</p>
                                      </li>
                                      <li class="mt-4"><i class="fab fa-instagram indigo-text fa-2x"></i>
                                        <p class="mt-2">@cvacba</p>
                                      </li>
                                      <li class="mt-4"><i class="fas fa-globe indigo-text fa-2x"></i>
                                        <p class="mt-2">http://cvacba.pctguama.org.br/</p>
                                      </li>
                                    </ul>
                              </div>
                              <div class="col-md-4">
                                <div class="container">
                                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15954.06073537248!2d-48.4452244!3d-1.4644274!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd805d4a6bfc9454d!2sCVACBA+-+Centro+de+Valoriza%C3%A7%C3%A3o+Agroalimentar+de+Compostos+Bioativos+da+Amaz%C3%B4nia!5e0!3m2!1spt-BR!2sbr!4v1535034022253" width="200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  
              </div>
              <!--/.Post-->

              <hr class="mt-5">

              <!--Post-->
              <div class="post-wrapper wow fadeIn" data-wow-delay="0.6s">
                  
                    <div class="container">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                 <th scope="col">Matriz de Ensaios do Laboratório: CVACBA</th>
                                  <th scope="col"></th>
                                 </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Determinação de composção quimica e nutricional</th>                 
                                                      
                                  <td>X</td>
                                 
                                </tr>
                                <tr>
                                  <th scope="row">Determinação da atividade e quantificação de antioxidantes</th>
                                  <td>X</td>
                                  
                                </tr>
                                <tr>
                                  <th scope="row">Análises por Cromatografia Líquida (HPLC/UPLC)</th>
                                  <td>X</td>
                                  
                                </tr>
                              </tbody>
                            </table>
                            </div>
              </div>
              <!--/.Post-->

              <hr class="mt-5">

             
          </div>

          <!--Sidebar-->
          <div class="col-lg-4">

              <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
                    <div class="card">
                            <div class="card-body">
                                <p>
                                    <strong>Área Alimentícia</strong>
                                </p>
                               <div class="container">
                                <img src="assets/img/alimento.jpg" width="300">
                            </div>
                            </div>
                        </div>
              </div>

              <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">
                  <br>
                  <div class="card">
                      <div class="card-body">
                          <p>
                              <strong>Caracteização e Controle de Alimentos</strong>
                          </p>
                          
                          <div class="container">
                                <img src="assets/img/alimento2.jpg" width="300">
                            </div>
                      </div>
                  </div>
              </div>

              <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p>
                                <strong>Nossa Equipe</strong>
                            </p>
                            
                            <div class="container">
                                  <img src="assets/img/funcionarios.jpg" width="300">
                              </div>
                        </div>
                    </div>
                </div>
  

             </div>
          <!--/.Sidebar-->
      </div>
  </div>
  <!--/.Main layout-->

</main>