<section class="container py-4">
  <div class="row">
      <div class="col-md-12">
          <h4>Cadastrar Laboratório</h4>
          <ul id="tabsJustified" class="nav nav-tabs">
              <li class="nav-item"><a href="" data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase">Dados Gerais</a></li>
              <li class="nav-item"><a href="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase active">Contatos</a></li>
              <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase">Equipe</a></li>
              <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase">Ensaios</a></li>
              <li class="nav-item"><a href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase">Qualificações</a></li>


          </ul>
          <br>
          <div id="tabsJustifiedContent" class="tab-content">
              <div id="home1" class="tab-pane fade">
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Título</label>
                        <input type="txt" class="form-control" id="inputEmail4" placeholder="">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Sigla</label>
                        <input type="txt" class="form-control" id="inputPassword4" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descrição</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputState">Instituição</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Unidade</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>

                      
                      <div class="form-group col-md-12">
                        <label for="inputState">Adicionar Logo</label>  
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                        </div>
                                   
                                 
                      </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Próximo</button>
                  </form> 
              </div>

              <div id="profile1" class="tab-pane fade active show">
                  <div class="row pb-2">
                      <div class="col-md-7">
                            <form>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputEmail4">Site(URL)</label>
                                        <input type="txt" class="form-control" id="inputEmail4" placeholder="">
                                      </div>

                                      <div class="form-group col-md-6">
                                        <label for="inputPassword4">E-mail</label>
                                        <input type="txt" class="form-control" id="inputPassword4" placeholder="">
                                      </div>

                                      <div class="form-group col-md-6">
                                            <label for="inputPassword4">Redes Sociais</label>
                                            <input type="txt" class="form-control" id="inputPassword4" placeholder="">
                                          </div>

                                          <div class="form-group col-md-6">
                                                <label for="inputPassword4">Telefone</label>
                                                <input type="txt" class="form-control" id="inputPassword4" placeholder="">
                                              </div>    

                                              <div class="form-group col-md-6">
                                                    <label for="inputPassword4">Endereço</label>
                                                    <input type="txt" class="form-control" id="inputPassword4" placeholder="">
                                                  </div>
        
                                                  <div class="form-group col-md-6">
                                                        <label for="inputPassword4">CEP</label>
                                                        <input type="txt" class="form-control" id="inputPassword4" placeholder="">
                                                      </div>   
                                    </div>
                                    
                                    
                                      
                                   <button type="submit" class="btn btn-primary">Próximo</button>
                                  </form> 
                      </div>
                      <div class="col-md-5">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15953.989528853133!2d-48.4532218!3d-1.4743965!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1f6e35bc3b41ab9e!2sUniversidade+Federal+do+Par%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1535484435929" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        
                    </div>
                  </div>
              </div>

              <div id="messages1" class="tab-pane fade">
                  <div class="list-group"><a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">44</span> Message 1</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">8</span> Message 2</a>                            <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">23</span> Message 3</a> <a href="" class="list-group-item d-inline-block text-muted">Message n..</a></div>
              </div>
          </div>
      </div>
  </div>
</section>